* text=auto
*.md text eol=lf
*.json text eol=lf
*.mjs text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.csv text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.webp binary
*.jpg binary
*.jpeg binary
*.png binary
